
<mat-card>
  <mat-card-title>
    <app-loading-spinner></app-loading-spinner>
  </mat-card-title>
  <mat-card-title *ngIf="!isLoading" style="text-align: center">Login</mat-card-title>
  <mat-card-content>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username"
                 id="email"
                 class=""
                 ngModel
                 name="email"
                 required
                 minlength="6">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput id="password" class="" ngModel name="password" required>
        </mat-form-field>
      </p>

<!--      <p *ngIf="error" class="error">-->
<!--        {{ error }}-->
<!--      </p>-->

      <div class="button">
        <button mat-button class="btn btn-primary" type="submit" >Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

<!--<div class="row">-->
<!--  <div class="col-xs-12 col-md-6 offset-3">-->
<!--    <div *ngIf="isLoading" style="text-align: center">-->
<!--      <app-loading-spinner></app-loading-spinner>-->
<!--    </div>-->


<!--    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">-->
<!--      <div class="form-group">-->
<!--        <label for="email">Email</label>-->
<!--        <input type="text" id="email"-->
<!--               class="form-control"-->
<!--               ngModel-->
<!--               name="email"-->
<!--               required-->
<!--               minlength="6">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="text" id="password" class="form-control" ngModel name="password" required>-->
<!--      </div>-->
<!--      <div>-->
<!--&lt;!&ndash;   [disabled]="authForm.invalid"     &ndash;&gt;-->
<!--        <button class="btn btn-primary" type="submit" >{{isLoginMode ? 'Login' : 'Sign Up'}}</button> |-->
<!--        <button class="btn btn-secondary" (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up' : 'Login' }}</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
