<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="10" >
    A
  </div>
  <div fxFlex="50" >
    <!--carousel-->
    <app-picture-carousel></app-picture-carousel>
  </div>
  <div fxFlex="60" style="background-color: #c679a9;">
    <div class="cards" fxLayout.xs="column" fxLayout="row wrap"  fxLayoutGap="20px"   fxLayoutAlign="start start">


      <mat-card class="image-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://live.staticflickr.com/65535/49913008061_6e00d232d6_n.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original.
            </p>
          </mat-card-content>
        </mat-card>
      <mat-card class="image-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original.
            </p>
          </mat-card-content>
        </mat-card>
      <mat-card class="image-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/DSC_0319.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original.
            </p>
          </mat-card-content>
        </mat-card>
      <mat-card class="image-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/DSC_0318.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original.
            </p>
          </mat-card-content>
        </mat-card>


      <div class="picture-ripple-container mat-elevation-z4"
           matRipple
           [matRippleCentered]="centered"
           [matRippleDisabled]="disabled"
           [matRippleUnbounded]="unbounded"
           [matRippleRadius]="radius"
           [matRippleColor]="color">
        <mat-card class="image-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/DSC_0319.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="picture-ripple-container mat-elevation-z4"
           matRipple
           [matRippleCentered]="centered"
           [matRippleDisabled]="disabled"
           [matRippleUnbounded]="unbounded"
           [matRippleRadius]="radius"
           [matRippleColor]="color">
        <mat-card class="image-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>




